.header{
    
}
.header-title{
    color: green;
    text-transform: uppercase;
}

.header-btn{
    border: 0;
    background-color: green;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}